---
layout: default
---

<div style="margin-bottom: 40px;">
    <h1>Bieltvedt Rallysport</h1>
    <p>Sveinung Bieltvedt og Roger Eilertsen danner grunnlaget for Bieltvedt Rallysport, som ble etablert høsten 2004. Satsingsområdet er Norgesmesterskapet i rally og siden 2004 har teamet opplevd mange oppturer. Hele fire NM titler, hvorav den siste kom i "keiserklassen" for firehjulsdrevne biler. I tillegg har Sveinung vunnet en rekke andre mesterskap, som feks. Norgescup, Peugeot Super Cup, Fiesta Sporting Throphy og Subaru Rally Cup. Som om ikke det var nok, vant også Roger NM for kartlesere i 2010 og 2012!</p>
    <p>Målsettingen fremover er til enhver tid å vinne løp og NM tittelen i toppklassen for firehjulsdrevne biler. Drømmen på sikt er å kunne oppgradere maskinparken til den nye R5 bilen som kommer for fullt i 2014.</p>
    <p>For at Bieltvedt Rallysport skal kunne konkurrere på toppnivå i Norge, kreves det mer enn fører og kartleser. Med oss på laget har vi en etterhvert svært så rutinert mekanikergjeng som sørger for at bil og utstyr holder helt til målstreken, gang etter gang. Verdt å nevne er det også at Olav Bodilsen fra Oslo er med som Sveinung og Roger's trener. Sammen fokuserer vi på kjøreteknikk og noter i sammenheng med bilens innstillinger.</p>
    <p>Sammen med våre sponsorer og støttespillere danner dette grunnlaget for det som gjør det mulig for oss å kjempe der vi er; i toppen av norsk rally!</p>
</div>

{% assign team-members = site.data.teamet.team-members %}
<a name="teamet"></a>
<div class="article">
    <h2>Teamet</h2>
    <div>
        {% for teamMember in team-members %}
            {% assign imageFile = teamMember.image.file %}
            {% assign imageWidth = teamMember.image.width %}
            {% assign imageHeight = teamMember.image.height %}
            <table class="teamProfile" style="margin-left: 0px;">
                <tr>
                    <td colspan="2">
                        <h4 style="margin-top: 0px; margin-bottom: 6px;">{{teamMember.name}}</h4>
                        <div class="line" style="margin-bottom: 16px;"></div>
                    </td>
                </tr>
                <tr>
                    <td class="Post" valign="top" width="180">
                        <ul class="squarepoint" style="margin-top: 6px;">
                            {% for fact in teamMember.facts %}
                                <li>{{fact}}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td style="padding-left: 20px;">
                        {% if imageFile %}
                            <img src="{{site.staticResourcesRootUrl}}{{imageFile}}" style="border:1px solid #8F7A70; padding:3px;"/>
                        {% endif %}
                    </td>
                </tr>
            </table>
            <br/>
            <br/>
            <br/>
        {% endfor %}
    </div>
</div>