<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="no-NO" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Bieltvedt Rallysport</title>
    <link rel="stylesheet" href="{{site.designTemplateThemeRootUrl}}/style.css?v=2" type="text/css" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet" type="text/css"/>
    <style type="text/css">.logo a.logo {margin-top:32px;margin-bottom:30px;}</style>
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{site.designTemplateThemeRootUrl}}/style_ie7.css" type="text/css" media="screen" />
    <![endif]-->
  </head>

  <body class="home blog">
  <div class="other-background">
    <div class="wrap">
      <table class="logo layoutTable" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <!-- <td style="vertical-align: middle;"><a href="/"><img src="{{site.designTemplateThemeRootUrl}}/images/logo/logo-bieltvedt-rallysport_w340_transparent.gif"/></a></td> -->
          <td style="vertical-align: middle;"><a href="/"><img src="{{site.designTemplateThemeRootUrl}}/images/logo/logo-bieltvedt-rallysport-2013_compact_transparent_w340.gif"/></a></td>
          <td style="padding-left: 20px;"><img src="{{site.designTemplateThemeRootUrl}}/images/header/header-bil-02.gif"/></td>
          <!-- <td style="vertical-align: bottom; text-align: right; padding-bottom: 1px;"><img style="vertical-align: bottom;" width="300" height="189" src="{{site.designTemplateThemeRootUrl}}/images/header/header-foreground-image-2_h189_blur.gif"/></td> -->
          <td style="vertical-align: bottom; text-align: right; padding-bottom: 1px;"><img style="vertical-align: bottom;" width="334" height="190" src="{{site.designTemplateThemeRootUrl}}/images/header/header-sveinung-roger-01_h190_transparent.gif"/></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="header">
    <div class="wrap" style="z-index:9999; position:relative;">
      <div class="right-menu">
        <ul id="menu-menu" class="main-menu sf-js-enabled">
          <li class="menu-item current-menu-item"><a href="/">Hjem<br class="clear"><span class="numbers"></span></a></li>
          <li class="menu-item"><a href="/om-oss">Om oss<br class="clear"><span class="numbers"></span></a></li>
          <li class="menu-item"><a href="/bilen">Bilen<br class="clear"><span class="numbers"></span></a></li>
          <li class="menu-item"><a href="/stoettespillere">Sponsorer<br class="clear"><span class="numbers"></span></a></li>
          <li class="menu-item"><a href="/blogg">Blogg<br class="clear"><span class="numbers"></span></a></li>
          <li class="menu-item"><a href="/fotoalbum">Fotoalbum<br class="clear"><span class="numbers"></span></a></li>
          <li class="menu-item"><a href="/video">Video<br class="clear"><span class="numbers"></span></a></li>
          <li class="menu-item"><a href="/gjestebok">Gjestebok<br class="clear"><span class="numbers"></span></a></li>
          <li class="menu-item"><a href="/kontakt-oss">Kontakt oss<br class="clear"><span class="numbers"></span></a></li>
          <li class="menu-item last">
            <a class="sf-with-ul" href="/?page_id=27">Mer<br class="clear"><span class="numbers"></span><span class="sf-sub-indicator"> »</span></a>
            <ul class="sub-menu">
              <li class="menu-item"><a href="/medieomtale">MEDIEOMTALE</a></li>
              <li class="menu-item"><a href="/terminliste">TERMINLISTE</a></li>
              <li class="menu-item"><a href="/merittliste">MERITTLISTE</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="white-background">
      <div class="vertical-border"></div>
      <div class="wrap">
        <div class="clear"></div>
        <table class="sponsorTable">
          <tbody>
          <tr>
            <td style="width: 25%;" class="sponsorTableTd"><center><a target="_blank" href="http://www.bosch-pt.no">         <img width="186" height="60" src="{{site.designTemplateThemeRootUrl}}/images/sponsor-logo/bosch-logo_h60.jpg"/>                         </a></center></td>
            <td style="width: 20%;" class="sponsorTableTd"><center><a target="_blank" href="http://www.follotruckutleie.no"> <img width="211" height="28" src="{{site.designTemplateThemeRootUrl}}/images/sponsor-logo/logo-follo-truckutleie_w211.png"/>            </a></center></td>
            <td style="width: 20%;" class="sponsorTableTd"><center><a target="_blank" href="http://www.skibygg.no">          <img width="164" height="40" src="{{site.designTemplateThemeRootUrl}}/images/sponsor-logo/logo-ski-bygg_h40.png"/>                      </a></center></td>
            <td style="width: 15%;" class="sponsorTableTd"><center><a target="_blank" href="http://www.eninorge.com">        <img width="58"  height="70" src="{{site.designTemplateThemeRootUrl}}/images/sponsor-logo/eni-logo_h70.png"/>                           </a></center></td>
            <td style="width: 20%;" class="sponsorTableTd"><center><a target="_blank" href="http://www.bjaalidsautoglass.no"><img width="127" height="70" src="{{site.designTemplateThemeRootUrl}}/images/sponsor-logo/sponsor-logo-bjaalids-autoglass_w127h70.gif"/></a></center></td>
          </tr>
          <!-- Før Ski Bygg: -->
          <!--
          <tr>
            <td style="width: 35%;" class="sponsorTableTd"><center><a target="_blank" href="http://www.bosch-pt.no">         <img width="217" height="70" src="{{site.designTemplateThemeRootUrl}}/images/sponsor-logo/bosch-logo_h70.jpg"/>                         </a></center></td>
            <td style="width: 30%;" class="sponsorTableTd"><center><a target="_blank" href="http://www.follotruckutleie.no"> <img width="284" height="39" src="{{site.designTemplateThemeRootUrl}}/images/sponsor-logo/logo-follo-truckutleie_w284.png"/>            </a></center></td>
            <td style="width: 15%;" class="sponsorTableTd"><center><a target="_blank" href="http://www.eninorge.com">        <img width="58"  height="70" src="{{site.designTemplateThemeRootUrl}}/images/sponsor-logo/eni-logo_h70.png"/>                           </a></center></td>
            <td style="width: 20%;" class="sponsorTableTd"><center><a target="_blank" href="http://www.bjaalidsautoglass.no"><img width="127" height="70" src="{{site.designTemplateThemeRootUrl}}/images/sponsor-logo/sponsor-logo-bjaalids-autoglass_w127h70.gif"/></a></center></td>
          </tr>
          -->
          </tbody>
        </table>
      </div>
      <div class="vertical-border"></div>
    </div>
  </div>
  <div class="wrap">
    <div class="clear"></div>
    <div>
      <table class="layoutTable" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
          <td style="width: 760px;">
            {{ content }}
          </td>
          <td>
            <div class="sidebar">
                {% include sidebar-races.md %}
                <!--%-- include sidebar-standings.md %-->
                {% include sidebar-rss-norsk-rally.md %}
                {% include sidebar-rss-motorsport.md %}
                {% include sidebar-rss-wrc.com.md %}
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <div class="footer">

      <div class="clear"></div>
      <div class="footer-content">
        <div class="horizontal-widgets-holder">
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="copyright-content">
        <div class="copyright-glow">
          <p class="static-text" style="text-align: center;"><a href="/">Bieltvedt Rallysport</a> &copy; 2012 | Bilder fra bl.a. <a href="http://www.rallybilder.net">www.rallybilder.net</a> og Thomas Myhre Hansen<br>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
