---
layout: default
---
{% assign videoCollection = site.video %}

{% if page.video %}
  {% assign currentVideo = page.video %}
{% elsif page.useDefaultVideo %}
  {% assign currentVideo = videoCollection[page.defaultVideoIndex].video %}
{% endif %}

<div>
  <h1>Video {{page.ole.hei}}</h1>
  <table id="video-menu" class="sub-menu" style="width: 100%; margin-bottom: 40px;">
    <tr>
      <td><a href="{{videoCollection[8].url}}">Promo Tools Rallyteam 2012</a></td>
      <td><a href="{{videoCollection[7].url}}">Rally Elverum 2012 SS4</a></td>
      <td><a href="{{videoCollection[6].url}}">Oslo Motor Show</a></td>
      <td><a href="{{videoCollection[3].url}}">Aurskog Høland Rally 2011 SS5</a></td>
      <td class="last"><a href="{{videoCollection[4].url}}">Aurskog Høland Rally 2011 SS8</a></td>
    </tr>
    <tr>
      <td class="row-spacer"/>
    </tr>
    <tr>
      <td><a href="{{videoCollection[5].url}}">Aurskog Høland Rally 2011 SS10</a></td>
      <td><a href="{{videoCollection[1].url}}">Tools Rallyteam 2008</a></td>
      <td><a href="{{videoCollection[2].url}}">Tools Rallyteam 2009</a></td>
      <td class="last"><a href="{{videoCollection[1].url}}">Tools Rallyteam 2008</a></td>
    </tr>
  </table>

  <h3>{{currentVideo.heading}}</h3>
  <div style="text-align: center;">
    <div>
      {% if currentVideo.isVimeoVideo %}
        <iframe height="360" frameborder="0" width="640" src="{{currentVideo.source}}?portrait=0&amp;color=A30034&amp;autoplay=1" webkitAllowFullScreen allowFullScreen type="text/html"></iframe>
      {% else %}
          <OBJECT
                  ID="MediaPlayer"
                  WIDTH="600"
                  HEIGHT="430"
                  CLASSID="CLSID:22D6F312-B0F6-11D0-94AB-0080C74C7E95"
                  STANDBY="Loading Windows Media Player components..."
                  TYPE="application/x-oleobject">
            <PARAM NAME="FileName" VALUE="{{currentVideo.source}}">
            <PARAM name="ShowControls" VALUE="true">
            <param name="ShowStatusBar" value="true">
            <PARAM name="ShowDisplay" VALUE="false">
            <PARAM name="autostart" VALUE="true">
            <EMBED
                    TYPE="application/x-mplayer2"
                    SRC="{{currentVideo.source}}"
                    NAME="MediaPlayer"
                    WIDTH="600"
                    HEIGHT="430"
                    ShowControls="1"
                    ShowStatusBar="1"
                    ShowDisplay="0"
                    autostart="1">
            </EMBED>
          </OBJECT>
      {% endif %}
    </div>
    <p class="static-text">(Det kan ta noen minutter å laste ned videoen.)</p>
  </div>
</div>